<div class="container-fluid">
    <div class="row">

        <div class="card" style="width: 18rem;">
          
            <div class="card-body">
              <h5 class="card-title">{{player.player.playerName}}</h5>
              <p class="card-text">Score: {{score}}</p>
            </div>
          </div>
          
    </div>
    <div class="container-fuild">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-8"> 
                <app-player></app-player>
            </div>
            <div class="col-4"></div>
        </div>
    </div>
    <div class="row">
        
    </div>
</div>
